footer
    nav(class ="center centerText")
      ul
        li 
            a(href='/schedule') schedule |
        li 
            a(href="maps") maps |
        li 
            a(href="accommodations") accommodations |
        li 
            a(href="food") eating in yosemite |
        li 
            a(href="menu") menu |
        li 
            a(href="style_guide") style guide |
        li 
	        a(href="honey") honeyfund |
		li 
            a(href="mailto:jendockter@gmail.com") contact