div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
                h1(class="centerText") Looking for a place to stay?
                h2(class="centerText") April 27th through the 30th is part of National Parks week!
                 p As such, admission and camping in the park are free!
                ul(class="textblock")
                 li 
                  a(href="http://www.yosemitepark.com/Accommodations_CurryVillage.aspx") For booking in the Valley
                 li 
                  a(href="http://www.airbnb.com/") Air BNB
                 li 
                  a(href="http://www.vacationrentals.com/vacation-rentals/Yosemite-California.html") Rental houses
                 li If none of the above are to your needs; try a google search for "Yosemite Lodgings" or "Yosemite Accommodations"         
