div(id="scripts")
        link(rel="stylesheet", href="/css/blog.css")
        script
                head.js("/js/mustache.min.js", function() {
                  $.ajax({
                    type: 'get',
                    url: '/blog/recent',
                    success: function(response) {
                      var container = $("#blogContainer");
                      var template = $("script[name=entry]").html();
                      response.forEach(function(entry) {
                        var locals = {
                          title: entry.title,
                        };
                        container.append($(Mustache.to_html(template, locals)));
                        container.children('.blogEntry :last').children('.blogContent').html(entry.content);
                      });

                      //open the curtains, yo
                      slide_open();
                    }
                  });
                });
         script(type = "text/x-mustache-template", name = "entry")
                  .blogEntry
                        h3 {{title}}
                        .blogContent

#blogHeader
        h2 Illmatic Programmatic
        h3 (A Blog)
#blogContainer
