div(id="scripts")
        link(rel="stylesheet", href="/css/blog.css")

#blogContainer
        #blogHeader
                h2 Illmatic Programmatic
                h3!= title
        #blogContent!= content
