div(id="scripts")
        link(rel="stylesheet", href="/css/blog.css")
        script
                $(document).ready(function() {
                  $.ajax({
                    type: 'get',
                    url: '/blog/recent',
                    success: function(response) {
                      var container = $("
                      response.forEach(function(entry) {
                        console.log(entry);
                      });
                    }
                  });
                });

#blogHeader
        h2 Illmatic Programmatic
#blogContainer
        #blogTitle
        #blogContent
