div(id="scripts")
        link(rel="stylesheet", href="/css/blog.css")
        script
                head.js('/js/jquery.js', '/js/curtain.js', function() {
                                         slide_open();
                });

#blogContainer
        #blogHeader
                h2 Illmatic Programmatic
                h3!= title
        #blogContent!= content
