div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
                h1(class="centerText") Hey Chowhound, you ready to EAT?
                 h2(class="centerText") Places for food in the Park
                  p There's not a ton of options, but what's there is pretty good; remember, we got you for Saturday night!
                ul(class="textblock")
                 li
                   a(href="http://www.yosemitepark.com/Dining_CurryVillageArea.aspx") Curry Village
                 li
                   a(href="http://www.yosemitepark.com/Dining_YosemiteVillageArea.aspx") Yosemite Village
                 li
                   a(href="http://www.yosemitepark.com/Dining_MountainRoom.aspx") At the Lodge: both fancy dining and not-so-fancy cafe
                 li
                   a(href="http://www.yosemitepark.com/Dining_AhwahneeDiningRoom.aspx") Fancypants Awahnee
                 li
                   a(href="http://www.yosemitepark.com/Dining_WawonaDiningRoom.aspx") The Wawona
                 li
                   a(href="http://www.yosemitepark.com/Destination_Shopping_SundriesSupplies.aspx") Supplies and Sundries for you DIY dinner types.         

