div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
                h1(class="centerText") Help us fund our honeymoon!
                 h2(class="centerText") Because experiences are more worthwhile than things.
                  p Pick a Donation Amount:
                div(class="donates")
                   ul
                     li
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim + Jen's Honeymoon")
                          input(type="hidden", name="amount", value="USD 50")
                          input(type="hidden", name="signature", value="as4Iw0aDD0P2reTCeAGf+S/hNPH4i4vyEfNoF0iNmf8=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$50 Donation toward our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/honey")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/50_small_paynow.gif", border="0") 
                     li 
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 75")
                          input(type="hidden", name="signature", value="9ypVXNkMOpsAy/qvQ1b4d/5O5cvWXhvfoobiYjM3zEk=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$75 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/75_small_paynow.gif", border="0")
                     li
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 100")
                          input(type="hidden", name="signature", value="TpzT1QWs5OuaOsXPGb/8NSoFaY1ztLuT+9yLiPMor2I=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$100 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/100_small_paynow.gif", border="0")
                     li 
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 150")
                          input(type="hidden", name="signature", value="7ihpNYZs5+tL0k5kr60LeqwPLDDWJg5bix4GL92Prrw=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$150 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/150_small_paynow.gif", border="0")
                     
                   ul
                     li
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 200")
                          input(type="hidden", name="signature", value="9m6ivAGSx+41FKXm6io/QFmO2eyTH0cKCY2zCWotJFI=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$200 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/200_small_paynow.gif", border="0")
                     li
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 300")
                          input(type="hidden", name="signature", value="3GEDLqbVsgcZ7vUdEk5MeiS0QjUWaQ100MZL3WjhISY=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$300 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/300_small_paynow.gif", border="0")
                     li
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 500")
                          input(type="hidden", name="signature", value="GBvBaFD2bI9Oy8EpJFN4vuiPiDxMJR0oGnlGS4T869o=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$500 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/500_small_paynow.gif", border="0")
                     li
                       form(action="https://authorize.payments.amazon.com/pba/paypipeline", method="post")
                          input(type="hidden", name="immediateReturn", value="1")
                          input(type="hidden", name="collectShippingAddress", value="0")
                          input(type="hidden", name="signatureVersion", value="2")
                          input(type="hidden", name="signatureMethod", value="HmacSHA256")
                          input(type="hidden", name="accessKey", value="11SEM03K88SD016FS1G2")
                          input(type="hidden", name="referenceId", value="Tim and Jen honeymoon")
                          input(type="hidden", name="recipientEmail", value="saphirra gmail.com")
                          input(type="hidden", name="amount", value="USD 1000")
                          input(type="hidden", name="signature", value="C91/UrFEF4PNP0KWMTqV6AsOK1W7oXMZ4LQOPPjFzec=")
                          input(type="hidden", name="isDonationWidget", value="0")
                          input(type="hidden", name="description", value="$1000 towards our honeyfund")
                          input(type="hidden", name="amazonPaymentsAccountId", value="3FYE4W8YKZYGSW6WPYECWXWJYKXYALWVV9F21D")
                          input(type="hidden", name="returnUrl", value="http://illegaltoaster.com/wedding")
                          input(type="hidden", name="processImmediate", value="1")
                          input(type="hidden", name="cobrandingStyle", value="logo")
                          input(type="hidden", name="abandonUrl", value="http://illegaltoaster.com/honey")
                          input(type="image", src="/images/donate/1000_small_paynow.gif", border="0")
 
                 
                 p(class="centerText") All donations processed via Payments.Amazon 
