div(id="mainContainer", class="center")
	h1 Tim Jarratt
	h2 javascripts, iOS, and more, OH MY!
	div(id="devContainer", class="center")
		div(id="devScreen")
			span coming soon...
		div(class="clear")
		div(id="bottomNav")
			div(class="stacked navButton")
				a(href="/", class="navLink") Home
			div(class="stacked navButton")
				a(href="/resume", class="navLink") Resume
			div(class="stacked navButton")
				a(href="http://illegaltoaster.tumblr.com", class="navLink") Blog
	div(id="links")
		div(class="stacked links")
			a(href="http://github.com/tjarratt") Github
				img(src="/images/github.jpg", width="48", height="48")
		div(class="stacked links")
			a(href="http://www.linkedin.com/pub/tim-jarratt/5/933/947") LinkedIn
				img(src="/images/linkedin.jpg", width="48", height="48")
		div(class="stacked links")
			a(href="http://www.twitter.com/Tim_jarratt") Tweets
				img(src="/images/twitter.png", width="48", height="48")
		div(class="stacked links")
			a(href="http://www.facebook.com/profile.php?id=100001862632067") facebook
				img(src="/images/facebook.png", width="48", height="48")
		div(class="stacked links")
			a(href="mailto:tjarratt@gmail.com") Emails
				img(src="/images/gmail.png", width="48", height="48")
