div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
                h1(class="centerText") Need more maps?
                  h2(class="centerText") Here's a number that we thought would be useful
                ul(class="textblock")
                 li 
                    a(href="http://www.nps.gov/yose/planyourvisit/upload/yosevalley2008.pdf") A general map of the valley
                 li 
                    a(href="http://www.yosemitepark.com/Images/2007-Shuttle-Map.jpg") Map of shuttle stops, routes and bike paths
                 li 
                    a(href="http://www.trails.com/national-park-trails.aspx?keyword=Yosemite%20National%20Park&state=CA") Comprehensive list of hikes of various levels as well as scenic drives
                 li 
                     a(href="http://www.yosemite.ca.us/maps/yosemite_maps.html") Another comprehensive list of maps including Hotels, Campgrounds, etc.            
 
