div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
                h1(class="centerText") This reception thing, what's doing?
                 h2(class="centerText") Cocktail + Hors d'ouvres Welcome
                  p Come on in and warm up a little with a bit and a nip
                ul(class="textblock")
                 li Endive Cups with Turkey Waldorf Salad
                 li Petite Quiche with Spinach and Pine Nuts
                 li Petite Quiche with Bacon and Swiss
                 li Drinks on us! 

        div(class="center textblock")
               h2(class="centerText") Dinner Time!
                p Buffet style, vegetarian options denoted as (v)
               ul(class="textblock")
                li Mixed Greens Salad (v)
                li Old Fashioned Potato Salad 
                li Western Style Baked Beans
                li Buttered Corn on the Cob (v)
                li Jalapeño & Orange Corn Muffins (v)
                li Cheese Biscuits
                li Smoked Sausages: Bratwurst, Andouille & Polish with a choice of Mustards
                li Herb-Marinated Grilled Swordfish Loin
                li Grilled Polenta with Roasted Vegetables (v)
                li Coffee + Hot Tea

        div(class="center textblock")
                    h2(class="centerText") Time for a Toast!
                     p Raise your glass, say some stuff!
                    ul(class="textblock")
                     li Champagne
                     li Sparkling Cider

        div(class="center textblock")
                h2(class="centerText") And now, Dessert!
                 p We will not be having wedding cake.  If you were wanting cake, you can have it at your wedding!
                 p Selections may include:
                ul(class="textblock")
                 li Fruit Pies
                 li Chocolate Cake
                 li Carrot Cake
                 li Cookies!
                 li Brownies
                 li and MORE!

