div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
                h1(class="centerText") I guess you want to know what to do?
                h2(class="centerText") Friday! April 27th
                   p(class="centerText") We recommend arriving on Friday simply because the drive in is a long one, and this way you'll be less stressed.
                ul(class="textblock")
                 li 3 or 4 PM: Party members meetup at the lodge + walkthrough
                 li Check-in!
                 li 6 PM: Parents meet + greet + dinner
                 li Everyone else, on your own: explore! Eat!
                
          div(class="center textblock")
                h2(class="centerText") Saturday! April 28th
                  p(class="centerText") Today's our jam.  Sit back and be ready for a fun ride.
                ul(class="textblock")
                 li Noon to 2:45 PM: Get ready! Get your duds on, put on your party pants.
                 li 3:15 PM: Meet at The Yosemite Lodge! Time to hike. 
                 li Check out the maps for shuttle locations and schedules
                 li 4:00 PM: Hey this is the part where we get married!
                 li 4:30 PM: Time for some more pictures and walking back to the Lodge
                 li 6:00 PM: Welcome reception!  Cocktails!  Hors d'oeuvres!
                 li 6:30 to 7:00 PM: Dinner!  Check out the menu.
                 li 7:30 to 10:00 PM: Dance and be merry!
                 li 10:00 PM: You don't have to go home, but you can't stay here.

           div(class="center textblock")
                h2(class="centerText") Sunday! April 29th
                 p(class="centerText") Have a day and enjoy the park!  It's great! Go for a hike!
                ul(class="textblock")
                 li 9:00 AM Tim & I will be hiking Four Mile Trail up to Glacier Point, let us know if you want to come along!
                 li Noonish: Trail lunch time!
                 li Check the maps link for other hikes in the area that may pique your interest

            div(class="center textblock")
                h2(class="centerText") Monday! April 30th
                  p(class="centerText") This is the last day we're here. Thank you for sharing our day and our weekend! See you all later!
 
