div(id="scripts")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        link(rel="stylesheet", href="/css/rsvp.css")
        script
                head.js("/js/jquery.js", '/js/jquery.ui.js', "/js/rsvp.js");

div(id="rsvpContainer")
        div(class="center textblock")
           h1(class="centerText") So what should we wear?
           h2(class="centerText") For Guests:
           p Dress warmly, dress simply, dress in fabrics that deal well with the outdoors.  Wear sensible shoes.
           p Some guidelines:
           ul(class="textblock")
             li We are requesting no one wear any Black or White
             li Light jackets or shawls are advised
             li If you need a colour to start with, start with your envelope's colour—think springtime, floral colours!
             li Good places to look include: 
               a(href="http://www.ideeli.com") Ideeli, 
               a(href="http://www.express.com") Express, H&M, Amazon 
               a(href="http://www.amazon.com/l/3615311011/ref=clo_h_trndcat_wbold") (for women) 
               a(href="http://www.amazon.com/l/1040658/ref=sv_a_1") (for men), 
               a(href="http://www.target.com/") Target.  
            li We support thrifting, too, if you can find something you love!
           div(id="guide_container")
             div(class="guide_women")
               img(src="/images/guide/dress.jpg", class="guide") 
               img(src="/images/guide/dress2.jpg", class="guide")
               img(src="/images/guide/womens-shoe.jpg", class="guide")
             div(class="guide_men")
               img(src="/images/guide/mens-dress1.jpg", class="guide") 
               img(src="/images/guide/mens-dress2.jpg", class="guide") 
               img(src="/images/guide/mens-shoe.jpg", class="guide")

        div(class="center textblock")
            h2(class="centerText") For the Party!
            p Our colours are woodland greens and browns
            ul(class="textblock")
             li Ladies are requested to be in any long-length green dress
             li Brown boots or colourful flats you can walk around in are optimal
             li You may want a shawl for the outdoor portions of the day; ivory is a fine colour for the shawl if you cannot find one that otherwise coordinates
            p
            ul(class="textblock")
             li Gentlemen should be in dark tan or light brown slacks or cordoroys preferably with green-toned button down shirts
             li Unbleached cotton [ivory] is ok for shirt colour
             li Jackets are not required, though they are preferred; try to coordinate with your pants 
             li Ties are requested, any bright colour is great!
             li Brown or brightly coloured shoes are encouraged!
        div(id="party_guide", class="center textblock")
            div(class="guide_women")
              img(src="/images/guide/lady-party.jpg", class="guide") 
              img(src="/images/guide/lady-party2.jpg", class="guide")
              img(src="/images/guide/lady-party3.jpg", class="guide")
              img(src="/images/guide/lady-party-shawl1.jpg", class="guide")
              img(src="/images/guide/lady-party-shawl2.jpg", class="guide")
            div(class="guide_men")
              img(src="/images/guide/men-party2.jpg", class="guide") 
              img(src="/images/guide/men-party3.jpg", class="guide") 
              img(src="/images/guide/men-party.jpg", class="guide")
              img(src="/images/guide/men-party-tie2.jpg", class="guide")
              img(src="/images/guide/men-party-tie1.jpg", class="guide")