div#blogContainer {
  background-image: url(/images/cubes.png);
}

div#articles {
  visibility: hidden;
}

div#curtainContent {
  margin-top: 200px;
  width: 550px;
  margin-left: 20%;
  margin-right: 0px;
  overflow: auto;
}
