body {
  margin: 0px;
  -webkit-background-size: 100% ;
  background-attachment: fixed;
  background-color: #222;
  /* background-image: url(/images/backgrounds/menger.jpg); */
  background-size: 100% ;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

/* some basics */
div.clear {
  clear: both;
}
div.scripts {
  display:none;
}
a:visited {
  color: blue;
}
/* hide this input field */
input.hidden {
  display:none;
}

/* left and right flow */
.leftBlock {
  width: 300px; float: left
}
.rightBlock {
  width: 300px; float: right
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.centerText {
  text-align: center;
}

div#devContainer {
  background-image: url(/images/smartphone3.png);
  background-repeat: no-repeat;
  height: 470px;
  width: 802;
}
div.stacked {
  float:left;
  clear:right;
}
div.navButton {
  border-left-style: solid;
  border-right-style: solid;
  width: 173px;
  height: 40px;
  text-align: center;
  background-color:dimgray;
}
div#links {
  margin-top: 50px;
  width: 70px;
  float: left;
  padding: 0;
  margin: 50px -2px 10px 0;
  clear: none;

  width: 10%;
  height: 90%;
  position: relative;
  float: left;
}

div#links_inner {
  width: 75px;
}

div.links {
  margin-left: 30px!important;
}
div.links a {
  text-decoration: none;
}
div.links a p {
  text-align: center;
}
a.navLink {
  text-shadow: none;
}
div#bottomNav {
  position: relative;
  border-top-style: solid;
  top: 320px;
  left: 79px;
  width: 540px;
}
div#devScreen {
  position: relative;
  top: 70px;
  left: 90px;
}
#topContainer {
  /* background-image: url(/images/backgrounds/menger.jpg); */
  background-size: 100% ;
  background-repeat: repeat-y;
  min-width: 800px;
  overflow: hidden;
}
div#mainContainer {
  -webkit-box-shadow: white 0px -1px 0px, #222 0px 0px 10px;
  background-color: #EEE;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  margin-top: 50px;
  color: #222;
  font-size: 15px;
  line-height: 150%;
  padding: 20px 20px 20px 0;
  padding-bottom: 70px;
  text-shadow: white 0px 1px 0px;
  z-index: 1;

  float: right;
  margin-right: 50px;
  clear: none;

  width: 80%;
  height: 90%;
  position: relative;
  overflow: hidden;
}
div#main_inner {
  padding-left: 10px;
}
#resumeContainer {
  position: relative;
  left: 10%;
}
#andyContainer {
  position: absolute;
  left: 450px;
  top: 290px;
}

#andyContainer #trebekImg {
  height: 20%;
}

{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#curtains {
  width: 750px;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#top {
  width: 100%;
  height: 500px;
  z-index: 3;
  position: absolute;
}

.curtain_sides {
  z-index: 0;
  position: absolute;
  top: 80px;
}

.left {
  margin-left: 28px;
  left: 0px;
}

.right {
  left: 565px;
}

.middle_layer {
  z-index: 1;
}

.bottom {
  z-index: 2;
}

#curtainContent {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 300px;
  visibility: hidden;
}

p#snowmang {
  text-align: center;
  font-size: 1000%;
}
