body {
  background-image: url(/images/backgrounds/menger.jpg);
}

#topContainer {
  background-size: 50%;
  background-image: url(/images/backgrounds/yosemite-falls.jpg);
}

input.inactive {
  color: grey;
}

.rsvpBlock ul li {
  list-style: none;
}

input {
  text-align: center;
}

#rsvpContainer {
  height: 666px;
  margin-top: 50px;
}

.rsvpBlock {
  width: 550px;
  height: 200px;
  background-color: #7D985B;
  border-radius: 10px;
  padding: 5px;
}

.hidden {
  visibility: hidden;
}

#attend_button {
  color: #009251;
}

#not_attend_button {
  color: #B51F12;
  width: 230px;
}

.registry {
  width: 550px;
  background-color: #7D985B;
  border-radius: 10px;
  margin-top: 100px;
  padding: 5px;
}

a {
  color: blue !important;
}
