/* some basics */
div.clear {
  clear: both;
}
div.scripts {
  display:none;
}

/* hide this input field */
input.hidden {
  display:none;
}

/* left and right flow */
.leftBlock {
  width: 300px; float: left
}
.rightBlock {
  width: 300px; float: right
}
.center {
  width: 300px ;
  margin-left: auto ;
  margin-right: auto ;
}
.centerText {
  text-align: center ;
}

div#devContainer div {
  display:block;
}