<div id="sidebar", class="rounded">
  <a href="http://github.com/tjarratt">
    <div class="links">
      <img class=rounded src="/images/github.png"/>
      <p>Github</p>
    </div>
  </a>
  <a href="http://www.twitter.com/leftsaidtim">
    <div class="links">
      <img class=rounded src="/images/twitter.jpg"/>
      <p>Twitter</p>
    </div>
  </a>
  <a href="http://www.facebook.com/profile.php?id=100001862632067">
    <div class="links">
      <img class=rounded src="/images/facebook.png"/>
      <p>Facebook</p>
    </div>
  </a>
  <a href="mailto:tjarratt@gmail.com">
    <div class="links">
      <img src="/images/gmail.png"/>
      <p>Email</p>
    </div>
  </a>
  <a href="http://www.linkedin.com/pub/tim-jarratt/5/933/947">
    <div class="links">
      <img class=rounded src="/images/linkedin.jpg"/>
      <p>LinkedIn</p>
    </div>
  </a>
  <a href="http://www.techendo.co/posts/techendo-tutorial-emacs-with-tim-jarratt">
    <div class=links>
      <img class=rounded src="/images/emacs.png"/>
      <p>Emacs HowTos</p>
    </div>
  </a>
</div>
