<%= stylesheet_link_tag 'cv' %>

<div id="contact" class="cv_container">
  <div class="wide" id="name">
    <h1>Tim Jarratt</h1>
  </div>

  <div id="contact_info">
    <ul>
      <li>
        <a href="mailto:tjarratt@gmail.com">tjarratt@gmail.com</a>
      </li>
      <li>
        <a href="http://twitter.com/LeftSaidTim">@LeftSaidTim</a>
      </li>
      <li>
        <a href="http://github.com/tjarratt">github.com/tjarratt</a>
      </li>
      <li>415-860-8430</li>
      <li>San Francisco, CA</li>
    </ul>
  </div>
</div>

<div id="work", class="cv_container">
  <div class="aligned">
    <h2>Software Engineer</h2>
    <h3>(Generalist)</h3>
  </div>

  <div class="wide">
    <label for="nearbuy">Generalist @ Nearbuy Systems (2011-2013)</label>
    <ul name="nearbuy">
      <li>Designed responsive Rails and Ember.js-based Analytics web app</li>
      <li>Built packet capture and radius clients in node.js</li>
      <li>Migrated database from postgresql to Cassandra</li>
      <li>Researched, implemented experimental people-tracking vision systems in C++</li>
      <li>Rewrote services to help scale as company grew from first customers to hundreds of deployments</li>
      <li>Built a "web-scale" multi-tenant multi-vendor presence tracking system</li>
      <li>Created and maintained tools used by the team (emacs functions, bash scripts, web tools)</li>
    </ul>

    <label for="apple2">Automation Engineer @ Apple (2010-2011)</label>
    <ul name="apple2">
      <li>Wrote automated tests for a sproutcore web app, Remote Desktop, Screen Sharing</li>
      <li>Built Continuous Integration server for catching daily regressions</li>
    </ul>

    <label for="karma">Engineer @ Credit Karma (2009-2010)</label>
    <ul name="karma">
      <li>designed, built, tested and integrated a JSON-rpc API with existing website</li>
      <li>built a webapp for CreditKarma that launched in PayPal's app store</li>
      <li>designed an Apple Push Notification server in node.js (spare-time project)</li>
    </ul>

    <label for="apple1">QA Automation Engineer @ Apple (2008-2009)</label>
    <ul name="apple1">
      <li>implemented client/server automation for web apps in OS X Server</li>
      <li>maintained production level wikis for corporate employees</li>
      <li>investigated performance issues and memory leaks</li>
    </ul>

    <label for=iteon>Software Engineer @ Iteon Consulting (2007-2008)</label>
    <ul name=iteon>
      <li>Built custom applications for small-medium businesses</li>
      <li>Assisted Network Engineers with application issues re: MySQL replication</li>
      <li>Designed, Implemented reporting engine and interface for a Billing / Intake system for a large medical-legal firm in Oakland</li>
      <li>Maintained tools used by team</li>
    </ul>

    <label for=davis>Software Engineer @ UC Davis (2006-2007)</label>
    <ul name=davis>
      <li>Worked with field researchers to build risk-assessment software for Chronic Wasting Disease</li>
      <li>Took an existing Delphi codebase and ported it to C++</li>
      <li>Led design meetings to help make software friendlier to farmers, ranchers and other non-technical end-users</li>
    </ul>

    <label for="education">Education</label>
    <ul name="education">
      <li>UC Davis 2002-2007</li>
      <li>C.S. and Mathematics</li>
    </ul>
  </div>
</div>

<div id="interests", class="cv_container">
  <div class="aligned">
    <h2>Merry Maker</h2>
  </div>

  <div class="wide">
    <label for="biking">Biking</label>
    <ul name="biking">
      <li>Biked SF to Menlo Park for Bike2Work three consecutive years</li>
      <li>Averaged ~11 miles a day 2011, 2012</li>
      <li>~3000 total miles biked in 2011</li>
    </ul>

    <label for="beer">Beer</label>
    <ul name=beer>
      <li>Brewed 5 gallons of beer in 2012</li>
      <li>Currently creating my own whole-grain Kolsch recipe</li>
    </ul>
  </div>
</div>
