<%= stylesheet_link_tag 'cv' %>

<div id="contact" class="container">
  <div class="wide" id="name">
    <h1>Tim Jarratt</h1>
  </div>

  <div id="contact_info">
    <ul>
      <li>
        <a href="mailto:tjarratt@gmail.com">tjarratt@gmail.com</a>
      </li>
      <li>
        <a href="http://twitter.com/#!/tim_jarratt">@tim_jarratt</a>
      </li>
      <li>
        <a href="http://github.com/tjarratt">github.com/tjarratt</a>
      </li>
      <li>415-860-8430</li>
    </ul>
  </div>
</div>

<div id="work", class="container">
  <div class="aligned">
    <h2>Software Engineer</h2>
    <h3>(Generalist)</h3>
  </div>

  <div class="wide">
    <label for="nearbuy">Engineer @ Nearbuy Systems</label>
    <ul name="nearbuy">
      <li>Designed responsive Rails and Ember.js-based Analytics web app</li>
      <li>Built packet capture and radius clients in node.js</li>
      <li>Migrated database from postgresql to Cassandra</li>
      <li>Researched, implemented experimental people-tracking vision systems in C++</li>
      <li>Built a "web-scale" multi-tenant multi-vendor presence tracking system</li>
    </ul>

    <label for="apple2">Automation Engineer @ Apple</label>
    <ul name="apple2">
      <li>Wrote automated tests for a sproutcore web app, Remote Desktop, Screen Sharing</li>
      <li>Built Continuous Integration server for catching daily regressions</li>
    </ul>

    <label for="karma">Engineer @ Credit Karma</label>
    <ul name="karma">
      <li>designed, built, tested and integrated a JSON-rpc API with existing website</li>
      <li>built a webapp for CreditKarma that launched in PayPal's app store</li>
      <li>designed an Apple Push Notification server in node.js (spare-time project)</li>
    </ul>

    <label for="apple1">QA Automation Engineer @ Apple</label>
    <ul name="apple1">
      <li>implemented client/server automation for web apps in OS X Server</li>
      <li>maintained production level wikis for corporate employees</li>
      <li>investigated performance issues and memory leaks</li>
    </ul>

    <label for="education">ducation</label>
    <ul name="education">
      <li>UC Davis 2002-2007</li>
      <li>C.S. and Mathematics</li>
    </ul>
  </div>
</div>

<div id="projects", class="container">
  <div class="aligned">
    <h2>Feats of Strength</h2>
    <h3>(past/current projects)</h3>
  </div>

  <div class="wide">
    <label for="node">Node.js `say` webapp</label>
    <ul name="node">
      <li>Built a node-js backed webapp interface to the OS X /usr/bin/say at the 2010 node.js camp</li>
      <li>Presented the app onstage at the end of the day</li>
      <li>Successfully prevented other conference attendees from running arbitrary shellscript on my development machine</li>
    </ul>

    <label for="usb">OS X USB Panic Button driver</label>
    <ul name="usb">
      <li>Wrote a userspace usb driver in Obj-C for a 'panic button' (http://amzn.to/Ppbx7J)</li>
      <li>Uses CFRunLoop, dispatch_async to minimize system resources used</li>
      <li>Leverages NSSpeechSynthesizer, AppleScript to run events on button press</li>
      <li>Currently used to push new code to dozens of production machines</li>
    </ul>

    <label for="go">Game Design</label>
    <ul name="go">
      <li>(work in progress) Web and OS X apps for playing games of Go, backed by AWS</li>
      <li>Built a centipede-like game on top of an indoor Location Based Service</li>
      <li>Built several prototypes for iOS games at SF iOS developer meetup groups</li>
    </ul>
  </div>
</div>

<div id="interests", class="container">
  <div class="aligned">
    <h2>Merry Maker</h2>
  </div>

  <div class="wide">
    <label for="biking">Biking</label>
    <ul name="biking">
      <li>Biked SF to Menlo Park for Bike2Work two consecutive years</li>
      <li>Averaged ~11 miles a day 2011, 2012</li>
      <li>~3000 total miles biked in 2011</li>
    </ul>

    <label for="beer">Beer</label>
    <ul name=beer>
      <li>Brewed 5 gallons of beer in 2012</li>
      <li>Currently creating my own whole-grain Kolsch recipe</li>
    </ul>
  </div>
</div>
