<%= render 'shared/sidebar' %>

<div id=main class=rounded>
  <h1>Tim Jarratt</h1>
  <h2>ruby, javascripts, cocoa and more, OH MY!</h2>
  <ul id=top_menu>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/cv">Curriculum Vitae</a></li>
  </ul>
</div>
