<%= render 'shared/sidebar' %>

<div id=main>
  <h1>Projects I'm proud to be working on</h1>

  <div class=container>
    <h2>Savon Multipart HTTP Support</h2>
    <a href="http://github.com/savonrb/savon-multipart">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>Added support for Multipart HTTP responses to Savon</li>
      <li>Helping contribute to project with small bug fixes, triaging issues</li>
    </ul>
  </div>

  <div class=container>
    <h2>USB Panic Button</h2>
    <a href="http://github.com/tjarratt/Panic-Button">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>User-space USB Driver in Objective-C</li>
      <li>Supports user-defined actions on button press</li>
      <li>Heavy use of Core Foundation for runloops and separating blocking requests from the UI thread</li>
    </ul>
  </div>

  <div class=container>
    <h2><a href="http://icanhazuseragent.com">ICanHazUserAgent.com</a></h2>
    <a href="https://github.com/tjarratt/iCanHazUserAgent">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>Ultra-minimal website in the vein of <a href="http://icanhazip.com">icanhazip.com</li>
      <li>Wrote in ~2 minutes in node.js</li>
    </ul>
  </div>

  <div class=container>
    <h2><a href="http://iscaltrainfucked.com">IsCaltrainFucked.com</a></h2>
    <a href="https://github.com/tjarratt/isCaltrainFucked-">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>Alerts Caltrain riders when giants have a night game in SF</li>
      <li>Uses sentiment analysis for tweets matching "caltrain" to determine likely delays</li>
    </ul>
  </div>

  <div class=container>
    <h2>Node Voices</h2>
    <a href="https://github.com/tjarratt/node-voices">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>Website wrapper around the OS X command line `say` utility</li>
      <li>Presented at the 2010 Node.js Conference to ~300 developers</li>
    </ul>
  </div>

  <div class=container>
    <h2>HTML 5 Go (Drag & Drop)</h2>
    <a href="http://github.com/tjarratt/Go-rails">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>The only HTML 5 implementation of GO (as far as I know)</li>
      <li>Existing implementations on the web are all in java, 8+ years old</li>
      <li>Created to learn more about the game, and to gauge demand in the product</li>
    </ul>
  </div>

  <div class=container>
    <h2>HTML5 Canvas Dungeons and Dragons maps</h2>
    <a href="https://github.com/tjarratt/node-redis-D-D-server">Fork it on Github</a>
    <h3>Features</h3>
    <ul>
      <li>Beautiful hand drawn graphics for monsters, fog of war</li>
      <li>Supports Hexagonal and square lattice grids</li>
      <li>Allows party chat, and whispers via WebSockets</li>
    </ul>
  </div>
</div>
